*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}



.left-box{
   
    
  
    border-radius: 25px;
    padding: 30px;

    color: white;
   

height: 550px;
width: 400px;
background-color: rgb(15, 177, 189);
display: inline-block;




}



.right-box{

    
   
 border-radius: 25px;
    
height: 550px;
width: 400px;
background-color: white;
display: inline-block;
padding: 30px;





}

.first-title{display: inline-block;}

.





.the-title{display: block;}

input{display: block;
    padding: 10px;
    width: 200px;

margin-left: 70px;
margin-bottom: 30px;}

label{margin-left: 70px;
margin-bottom: 10px;}

h2{text-align: center;
margin-bottom: 10px;}

.submit-button{
    height: 50px;
color: white;
    border-radius: 15px;
    padding: 15px;
background-color:  rgb(15, 177, 189)

}

.message-code{
    padding: 30px;
}

div{
    

    background-color: blueviolet;
}