*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

body{
    display: inline-block;
background-color: blueviolet;
/* margin-right: 150px;
margin-left: 350px;
margin-top: 50px; */

}

.left-box{
    padding: 30px;
    color: white;
    margin-left: 350px;
    
    

height: 550px;
width: 400px;
background-color: rgb(15, 177, 189);
display: inline-block





}

.right-box{
height: 550px;
width: 400px;
background-color: white;
display: inline-block;
padding: 40px;



}

.first-title{display: inline-block;}

.


h1{
}

.the-title{display: block;}

input{display: block;
margin-left: 70px;
margin-bottom: 30px;}

label{margin-left: 70px;
margin-bottom: 10px;}

h2{text-align: center;
margin-bottom: 10px;}

.submit-button{
background-color:  rgb(15, 177, 189)
}